// 中性色
$color-1: #1a1a1a;
$color-2: #333;
$color-3: #363636;
$color-4: #666;
$color-5: #999;
$color-6: #d8d8d8;
$color-7: #f5f5f5;
$color-8: #fff;

// 背景底色
$bg-color-1: #f1f1f2;
$bg-color-2: #f2f3f5;
$bg-color-3: #f2f4f8;
$bg-color-4: #f5f7fb;
$bg-color-5: #f1f2f5;

// 功能色:代表明确的信息以及状态，比如成功、出错、失败、提醒、链接等。
$error-color-1: #db1818;
$error-color-2: #f26054;
$error-color-3: #f69087;
$success-color-1: #51b76d;
$warning-color-1: #fecb24;
$info-color-1: #2282d6;
$info-color-2: #54b3f2;
$info-color-3: #3b9dff;
